<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
 {{>header}}

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    {{>navbar}}
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>About us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Banner -->
    <div class="section inner_page_banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title text_align_center">
                        <h2>WHO WE ARE</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
     <!-- section -->
     <!-- <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>About</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Read More ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/img3.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- end section -->
    <!-- end section -->

    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full aboutimage text_align_right_img aboutimage">
                        <img src="images/lowcibil.jpg" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">PAN INDIA</span> PRESENCE</h2>	
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>loan5cr.com is India’s Debt Help Organization, serving the public with thorough, accurate and accessible information about financial well-being. We strive to help people in all kind of Big Size Loan, buying a home and Business. The content on Debt.org is designed for anyone who desires a sound financial future for their Business Project, wants to get out of debt or wants to stay out of debt or want to solve their Low CIBIL issue. Our goal is to be the only financial resource you need to deal with your big debt.</p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
<br> <br>
     <!-- section -->
     <div class="section white_fonts" style="background: #2a2a2a;">
        <div class="container">
            <div class="row">
              
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">KEY RESPONSIBILITY OF</span> OUR SERVICE</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                      <ul>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Trust and Transparency.</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Loan for One Cr or More then that</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Fast Loan Processing</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Best Rate of Interest in Industry</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Maximum Possible Loan Amount Providing</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Service Providing in Pan India</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Possibility of 200% Loan of Collateral Value</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> Minimum Documentation Required</li>
                        <li> <i aria-hidden="true" class="fas fa-chevron-circle-right"></i> One Stop Solution of all available Financing option in India</li>
                
                      </ul>


                    </div>
                    <!-- <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Exchange ></a>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="whych">
                        <img src="images/file.png" alt="" height="">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end section -->
   
     <!-- section -->
     <div class="section ourvisionpage" >
        <div class="container-fluid py-4">
            <div class="row">
                <div class="container">
                <div class="col-lg-10">
                    <h2>Our Vision</h2>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="container d-flex">
         <div class="col-lg-12 missionheading">
           
           <h4> <mark style="background-color: orange;"> TO BE WIDELY RECOGNIZED AS THE LEADING SPECIALIST MORTGAGE CONSULTANT IN INDIA</mark></h4>
           <div class="list list2">
            <ul>
             <li>A world class mortgage consultancy with the most knowledgeable Big Size Loan specialists in the industry.</li>
             <li>Continuously innovating to set a new standard for the rest of our industry in the Field of One Time Settlement (OTS).</li>
             <li>Operating completely online and using technology to provide a quick and simple approval.</li>
            </ul>
           </div>

           <h4><mark style="background-color: orange;">TO BE RECOGNIZED AS THE LEADING OFFSHORE TEAM IN THE INDIAN MORTGAGE INDUSTRY.</mark></h4>


         </div>
 
        </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- section -->
    <div class="section ourmissionpage" >
        <div class="container-fluid py-4" style="background: rgb(31, 66, 135,.8);">
            <div class="row">
                <div class="container">
                <div class="col-lg-10">
                    <h2>Our Mission</h2>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="container d-flex">
         <div class="col-lg-6 missionheading">
           
           <h3> <mark> TO DELIGHT OUR CLIENTS</mark></h3>
           <div class="list list2">
            <ul>
                <li>Giving you solutions even if you’ve been told that your situation is impossible.</li>
                <li>Keeping it simple so that you can get a quick approval.</li>
                <li>Providing expert advice so you can make an informed decision regarding Low CIBIL, Home loan, OTS, Corporate Finace,etc.</li>
                <li>Earning your trust so that we can be your mortgage finance consultant for life.</li>
            </ul>
           </div>


         </div>
         <div class="col-lg-6 missionheading">
           <h3> <mark> TO OPERATE ETHICALLY FOR THE BENEFIT OF SOCIETY</mark></h3>
           <div class="list">
            <ul>
             <li>Helping customers who are being let down by the banks.</li>
             <li>Giving free information and resources on how to get a Loan.</li>
             <li>Giving our staff a fulfilling job with the opportunity for career advancement.</li>
             <li>Helping young adults who are looking for work experience.</li>
             <li>Providing ongoing support to offshore aid programs.</li>
             <li>Promoting good practices and healthy competition within the Finance industry.</li>
            </ul>
           </div>


         </div>
        </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- start section  -->
    <section class="counter">
        <div class="container">
            <div class="row">
    <div class="col-lg-3 col-sm-6 counterbox" > <h2 class="count" >70 </h2><p>Project Finance</p> </div>
    <div class="col-lg-3 col-sm-6 counterbox" > <h2 class="count" >500</h2><p>Satisfied Clients</p> </div>
    <div class="col-lg-3 col-sm-6 counterbox" > <h2 class="count" >210</h2> <p>Home Loan</p></div>
    <div class="col-lg-3 col-sm-6 counterbox" > <h2 class="count" >230</h2> <p>Private Financer's</p></div>
            </div>
        </div>
    </section>
 
    <!-- end section  -->
 

     <!-- Start Footer -->
    {{>footer}}
    <!-- end Footer -->

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
    <script>
        $(document).ready(function() {

var counters = $(".count");
var countersQuantity = counters.length;
var counter = [];

for (i = 0; i < countersQuantity; i++) {
  counter[i] = parseInt(counters[i].innerHTML);
}

var count = function(start, value, id) {
  var localStart = start;
  setInterval(function() {
    if (localStart < value) {
      localStart++;
      counters[id].innerHTML = localStart+" +";
    }
  }, 1);
}

for (j = 0; j < countersQuantity; j++) {
  count(0, counter[j], j);
}
});
    </script>


</body>

</html>