<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  {{>header}}

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

  <!-- Start header -->
    {{>navbar}}
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>
                            LAP PROPERTY</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Banner -->
    <div class="section inner_page_banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title text_align_center">
                        <h2>Loan Against Property Service</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
	<!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/lap.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">WE ARE HERE TO</span> HELP YOU !!</h2>	
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>A Loan against property is a type of loan which can be obtained for resolving various financial hurdles. The hurdles that come in front of companies in the business. So, this type of loan is a long-term-based loan. The security here is the equitable mortgage of the immovable property. Thus, a loan against property is the most secure type of loan for lending institutions. It is, so, the most easily available loan for the borrowers in normal circumstances.
                         </p>
                    </div>
                
                </div>
            </div>
    </div>
	<!-- end section -->

<!-- section start  -->
    <section>
        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-12 corporateheading">
                    <h1>Features and Benefits of Loan Against Property</h1>
                    <p>The beneficial features are basic and can be realized by the borrowers before they apply. This loan is the most suitable because the property is one strong form of collateral security. The property is mortgaged for various purposes of finance. So, the borrower avails loan in accordance with the property’s current market value.</p>

                    <p> <mark style="background: #ff880e; color:#fff;"> Here are a few common benefits of a Loan against property</mark></p>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-12 corporatelist keypoint">
                  
                    <ul type="arrow">
                      <li><i class="fa-solid fa-greater-than"></i>Flexible loan tenure.</li>
                      <li><i class="fa-solid fa-greater-than"></i>Low-interest rate.
                        </li>
                      <li><i class="fa-solid fa-greater-than"></i>Lesser hassles.
                        </li>
                      <li><i class="fa-solid fa-greater-than"></i>Loan received as per the value of the mortgaged property.</li>
                      <li><i class="fa-solid fa-greater-than"></i>We are dealing with PSU bank, private bank, MNC bank, and NBFC bank. we provide the best interest rate.</li>
                      <li><i class="fa-solid fa-greater-than"></i>Low CIBIL durable.</li>
                   
                     
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- section end  -->

  <!-- Start Footer -->
    {{>footer}}
    <!-- end Footer -->

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
</body>

</html>