<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  {{>header}}

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

  <!-- Start header -->
    {{>navbar}}
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>
                            PRIVATE FINANCE
OR
PRIVATE EQUITY</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Banner -->
    <div class="section inner_page_banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title text_align_center">
                        <h2>WHAT IS PRIVATE FINANCE / PRIVATE EQUITY?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
	<!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/privatefinance.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">WE ARE HERE TO</span> HELP YOU !!</h2>	
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>What is Private Equity Private equity is an alternative investment class and consists of capital that is not listed on a public exchange. Private equity is composed of funds and investors that directly invest in private companies. Institutional and retail investors provide the capital for private equity, and the capital can be utilized to fund new technology, make acquisitions, expand working capital, and to bolster and solidify a balance sheet.
                            <br> <br>
                            Private equity offers several advantages to companies and startups. It is favored by companies because it allows them access to liquidity as an alternative to conventional financial mechanisms, such as high interest bank loans or listing on public markets. 

                           
                         </p>
                         <div class="full paddding_left_15">
                            <a class="main_bt" type="button"  onclick="myFunction()" style="color: #fff;">Read more ></a>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="Dglow" class="Dglow">
                       Certain forms of private equity, such as venture capital, also finance ideas and early stage companies. In the case of companies that are de-listed, private equity financing can help such companies attempt unorthodox growth strategies away from the glare of public markets. Otherwise, the pressure of quarterly earnings dramatically reduces the timeframe available to senior management to turn a company around or experiment with new ways to cut losses or make money.
                            <br><br>
                        We help our valuable customers to raise funds through this tool. Our special focus on Real Estate, Education, Healthcare, Pharma, Consumer, Hospitality & Technology. Kindly contact our Team for further support on this. 
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->

    <!-- section start  -->
    <section id="privatefinance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 corporateheading">
                    <h1>PRIVATE FINANCE / PRIVATE EQUITY REQUIRED</h1>
                    <p>Any person who is running a business with decent earning then it can be offered to that candidate. Several private financier’s has different criteria, policy and terms which validate the authenticity of applicant’s business. After authentication and validation financier’s has authority to decide the amount of Funding. <br> <br>  <mark style="background: #ff880e; color:#fff;">There are key points to remember for documentation:</mark></p>

                    <div class="corporatelist">
                        <ul>
                           <li>What is the type of business? It is either Public ltd, Private LTD, Proprietorship, LLP or Partnership.</li>
                           <li>Total Turnover of the business.</li>
                           <li>Cash flow in the business.</li>
                           <li>Profit of the business.</li>
                        </ul>
                    </div>
                </div>

            </div>
       
            
        </div>
    </section>

<!-- section end  -->

  <!-- Start Footer -->
    {{>footer}}
    <!-- end Footer -->

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
    <script>
        function myFunction() {
document.getElementById("Dglow").style.display = 'block';
}
    </script>


</body>

</html>