   <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="full">
                                <img class="img-responsive footer-logo-img" src="images/logo.png" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="index.html">> Home</a></li>
                                    <li><a href="about.html">> About</a></li>
                                    <li><a href="projectfinance.html">> Project Finance</a></li>
                                    <li><a href="corporatefinance.html">> Corporate Finance</a></li>
                                    <li><a href="exportfinance.html">> Export Finance</a></li>
                                    <li><a href="npa.html">> NPA</a></li>
                                    <li><a href="privatefinance.html">> Private Finance</a></li>
                                    <li><a href="lowcibil.html">> Low CIBIL</a></li>
                                    <li><a href="constructor(params) {
                                        
                                    }">> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="images/i5.png"><span>India Gate</span></li>
                               <li><img src="images/i6.png"><span>dummy@gmail.com</span></li>
                               <li><img src="images/i7.png"><span>+91 1234567892</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2022 Loan5cr</p>
                </div>
            </div>
        </div>
    </div>